body{
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
img{
    margin: 30px 15%;
}
img{
    border-radius: 75px;
    border: 1px solid rgb(255, 255, 255);
    transition: ease-in;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px white solid;
    width: 300px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(2px);
}
h3{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 24px;

}
h5{
    color: rgb(142, 81, 0);
    margin-bottom: 30px;
    margin-top: 15px;
    font-size: 18px;
}
a{
    text-decoration: none;
    font-size: medium;
    font-weight: 400;
    border: 2px solid;
    border-color:  rgb(230, 223, 215);
    padding: 5px;
    background: rgb(230, 223, 215);
    border-radius: 10px;
}
.f{
    color: blue;
}
.i{
    color: blueviolet;
}
.w{
    color: green;
}